{:aliases 
 {:quickblog
  {:extra-deps {io.github.borkdude/quickblog {:git/sha "74b1faff8b1e39079c66d82ec2a1e7e6f5dcc89b"}
                markdown-clj/markdown-clj {:mvn/version "1.11.4"}
          org.babashka/cli {:mvn/version "0.3.35"}}
   :main-opts ["-m" "babashka.cli.exec" "quickblog.cli" "run"]
   :exec-args {:blog-title "Henry Widd's Blog"
               :blog-description "Miscellania"
               :blog-root "https://widdindustries.com/blog"
               :out-dir "docs"
               :about-link "https://widdindustries.com/about"
               :discuss-link "https://github.com/henryw374/blog/discussions/categories/posts"
               :twitter-handle "henryw374"}}}}